.card-img-top {
    width: 100%;
    height: 10vh;
    object-fit: contain;    
    /* object-fit: cover;  might work too  */
}

.responsive {
    width: 100%;
    height: auto;
  }


  
.cardLink:visited{
    color: inherit;
    text-decoration: none;
}

.cardLink:link{
    color: inherit;
    text-decoration: none;
}